.logo {
    padding-top: 20px;
}

.lofar {
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(lofar2.png);
}

.index {
    margin-top: 250px;
    margin-bottom: 250px;
    opacity: 0.9;
}

.content {
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 20px 50px 50px;
    opacity: 0.9;
    color: inherit;
    background-color: #303030;
}