{%  extends 'base.html' %}
{%  load static %}

{% block content %}
    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                    <row>
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 content">
                            <center><h1>AARTFAAC Brainstorm Meeting, 26-27 January, 2017</h1></center>
                            <center><h3>Eulerzaal, Centrum Wiskundige & Informatica <a href="https://www.cwi.nl/">(CWI)</a>,<br /> Sciencepark 123, 1098XG,
                                Amsterdam, The Netherlands.</h3></center>

                            <center>FIRST ANNOUNCEMENT AND CALL FOR EXPRESSIONS OF INTEREST </center><br />

                            <p>		  Over the past 5 years, we have been building an add-on
                                facility to LOFAR called AARTFAAC. Its purpose is to monitor the full
                                sky over Exloo in low LOFAR low band (~30-80 MHz) at cadences as high
                                as 1 image/second in order to search for bright, short-duration
                                transients. AARTFAAC is now operational in its first version, and
                                based on various informal responses from colleagues we have reason to
                                believe that AARTFAAC in its present form, or with extended
                                capabilities, may be useful to quite a few of our colleagues.</p>

                            <p> In order to present AARTFAAC's current capabilities to a select group
                                of colleagues and solicit ideas on how to make AARTFAAC or AARTFAAC++
                                useful to as many different science cases as possible, we will hold a
                                small workshop (up to 50 participants). The goal is fourfold:</p>

                            <ul>
                                <li> Present to you the current state of AARTFAAC, preliminary results,
                                    and the capabilities we have in mind for adding to it.</li>
                                <li> Hear from you what ideas you have for use of the AARTFAAC data, and
                                    what you would need, and can bring, in order to make that use
                                    possible. </li>
                                <li> Hear from you what ideas you might have for extending AARTFAAC's
                                    science, or improve its data taking or calibration, and what it
                                    would take to achieve that extension or improvement.</li>
                                <li> Create (the beginnings of) a roadmap for future AARTFAAC development
                                    and science.</li>
                            </ul>

                            <p>
                                We are in the process of putting together documentation
                                and other
                                materials that describe the current state and
                                capabilities of
                                AARTFAAC.  If you are interested in joining us, please
                                send a brief
                                expression of interest to aartfaacteam@gmail.com, in which you indicate
                                what topics you
                                would like to bring to our workshop for discussion. We
                                hope to be able
                                to accommodate as many interested colleagues, of
                                course, but the
                                discussion format of the workshop may require us to
                                perform some
                                selection.
                            </p>

                            <a href="https://www.cwi.nl/contact-and-route">Route to Venue</a>
                        </div>

                </div>
                </row>
            </div>
        </div>
    </div>
    </div>

{% endblock %}