{%  extends 'pages/base.html' %}
{%  block content %}


    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                    <div class="col-lg-6 col-lg-offset-3 content">

                        <h1>Collaborations</h1>

                        <h2>ASTRON</h2>

                        <ul>
                            <li>Development of Uniboard correlators.</li>
                            <li>Co-development of software and science exploitation.</li>
                        </ul>

                        <h2>Oxford Astrophysics/e-Research Centre</h2>

                        <ul>
                            <li>Station hardware development.</li>
                            <li>Co-operation on streaming data pipeline.</li>
                        </ul>

                        <h2>LOFAR Transients Key Science Project</h2>

                        <ul>
                            <li>Joint scientific exploitation of LOFAR and AARTFAAC data.</li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}