{%  extends 'pages/base.html' %}
{%  block content %}


    <div class="lofar">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="jumbotron text-center index">
                        <h1>Contact Details</h1>

                        <p>
                            AARTFAAC is based at the <a href="http://www.astro.uva.nl/">Astronomical
                            Institute &quot;Anton Pannekoek&quot;</a> of the <a
                                href="http://www.uva.nl/">University of Amsterdam</a>.  General enquiries may
                            be directed to <a href="mailto:info@aartfaac.org">info@aartfaac.org</a>.
                        </p>

                        <p><a class="btn btn-primary btn-lg" href="mailto:info@aartfaac.org">info@aartfaac.org</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}