{%  extends 'pages/base.html' %}
{%  block content %}

    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                    <div class="col-lg-10 col-lg-offset-1 content">
                        <h1><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> AARTFAAC Live stream</h1>
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/wAo7czahdTg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
