{%  extends 'pages/base.html' %}
{%  block content %}

    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                    <div class="col-lg-8 col-lg-offset-2 content">

                        <h1>Publications</h1>

                        <h2>Conference proceedings</h2>

                        <ul>
                            <li>
                                <em><a href="http://arxiv.org/abs/1609.04205">The AARTFAAC All Sky Monitor: System Design and Implementation</a></em><br />
                                Peeyush Prasad, Folkert Huizinga, Eric Kooistra, Daniel van der Schuur, Andre Gunst, John Romein, Mark Kuiack, Gijs Molenaar, Antonia Rowlinson, John D. Swinbank, Ralph A.M.J Wijers<br />
                                arXiv:1609.04205 [astro-ph.IM]
                            </li>

                            <li>
                                <em><a href="http://www.aanda.org/articles/aa/full_html/2014/08/aa23668-14/aa23668-14.html">Real-time calibration of the AARTFAAC array for transient detection</a></em><br />
                                P. Prasad, S. J. Wijnholds, F. Huizinga and R. A. M. J. Wijers<br />
                                A &amp; A, 568 (2014) A48 DOI: http://dx.doi.org/10.1051/0004-6361/201423668
                            </li>

                            <li>
                                <em><a href="http://adsabs.harvard.edu/abs/2012grb..confE.120R">Observing transients with LOFAR and AARTFAAC</a></em><br />
                                Rowlinson, A.<br />
                                Proceedings of the Gamma-Ray Bursts 2012 Conference, Munich, May 2012.
                            </li>

                            <li>
                                <em><a href="http://adsabs.harvard.edu/abs/2012arXiv1205.3056P">AARTFAAC: Towards a 24x7, All-sky Monitor for LOFAR</a></em><br />
                                Prasad, P. and Wijnholds, S.J.<br />
                                Proceedings of &quot;New Windows on Transients scross the Universe&quot;: A discussion meeting of the Royal Society, London, April 2012.
                            </li>

                            <li>
                                <em><a href="http://adsabs.harvard.edu/abs/2011AAS...21722302W">Trawling Transients with LOFAR</a></em><br />
                                Wijers, R.A.M.J.<br/>
                                Proceedings of the 217th Meeting of the American Astronomical Society, Seattle, WA, January 2011.
                            </li>
                        </ul>

                        <h2>Posters</h2>

                        <ul>
                            <li>
                                <em><a href="2013-carbone-dalfsen.pdf">Testing Source Finders with Simulated Maps</a></em><br />
                                Carbone, D. &amp; the LOFAR Source Finders Working Group<br />
                                LOFAR Collaboration Science Meeting, Dalfsen, March 2013.
                            </li>

                            <li>
                                <em><a href="2013-cendes-dalfsen.pdf">A Modified RFI Flagging Strategy for Transient Radio Signals</a></em><br />
                                Cendes, Y. &amp; the AARTFAAC Project Team<br />
                                LOFAR Collaboration Science Meeting, Dalfsen, March 2013.
                            </li>

                            <li>
                                <em><a href="http://adsabs.harvard.edu/abs/2012AAS...21942236C">The AARTFAAC Project: Searching for Radio Transient Signals with LOFAR</a></em><br />
                                Cendes, Y. &amp; the AARTFAAC Project Team<br />
                                Proceedings of the 219th Meeting of the American Astronomical Society, Austin, TX, January 2012.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}