{%  extends 'pages/base.html' %}
{%  block content %}


    <div class="lofar">
        <div class="container">
            <div class="bs-docs-section">
                <div class="page-header">
                        <div class="col-lg-6 col-lg-offset-3 content">
                            <h1>Project Team</h1>
                            <h2>University of Amsterdam</h2>

                            <ul>
                                <li><strong><a href="http://www.astro.uva.nl/people/mark-kuiack/">Mark Kuiack</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/people/dario-carbone/">Dario Carbone</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/people/yvette-cendes/">Yvette Cendes</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/people/folkert-huizinga/">Folkert Huizinga</a></strong></li>
                                <li><strong><a href="http://pythonic.nl/">Gijs Molenaar</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/people/antonia-rowlinson/">Antonia Rowlinson</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/people/peeyush-prasad/">Peeyush Prasad</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/~rwijers/">Ralph Wijers</a></strong> (Principal Investigator)</li>
                            </ul>

                            <h2>ASTRON</h2>

                            <ul>
                                <li><strong>Andre Gunst</strong> (Hardware Project Manager)</li>
                                <li><strong>Ronald Nijboer</strong></li>
                                <li><strong>Marco de Vos</strong></li>
                                <li><strong>Stefan Wijnholds</strong></li>
                                <li><strong>Michael Wise</strong></li>
                            </ul>

                            <h2>University of Oxford</h2>

                            <ul>
                                <li><strong><a href="http://www.oerc.ox.ac.uk/people/fred-dulwich">Fred Dulwich</a></strong></li>
                                <li><strong><a href="http://www.oerc.ox.ac.uk/people/ben-mort">Ben Mort</a></strong></li>
                                <li><strong><a href="http://www.oerc.ox.ac.uk/people/savlini-stef/">Stef Salvini</a></strong></li>
                            </ul>

                            <h2>Previous members</h2>

                            <ul>
                                <li><strong><a href="https://physics.columbian.gwu.edu/alexander-van-der-horst/">Alexander van der Horst</a></strong></li>
                                <li><strong><a href="http://www.astro.uva.nl/people/thijs-van-putten/">Thijs van Putten</a></strong></li>
                                <li><strong><a href="http://urchin.earth.li/~jds/">John Swinbank</a></strong> (Software Project Manager)</li>
                            </ul>

                        </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}