{%  extends 'monitoring/base.html' %}
{%  load static %}
{%  block monitoring %}
    <row>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}image.png"><img class="monitoring" src="{% get_media_prefix %}image.png" id="image"></a></div>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}corr.png"><img class="monitoring" src="{% get_media_prefix %}corr.png" id="corr"></a></div>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}diff.png"><img class="monitoring" src="{% get_media_prefix %}diff.png" id="diff"></a></div>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}chan.png"><img class="monitoring" src="{% get_media_prefix %}chan.png" id="chan"></a></div>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}lag.png"><img class="monitoring" src="{% get_media_prefix %}lag.png" id="lag"></a></div>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}cal-agc001.png"><img class="monitoring" src="{% get_media_prefix %}cal-agc001.png" id="agc001"></a></div>
        <div class="col-lg-4 col-md-6"><a href="{% get_media_prefix %}cal-agc002.png"><img class="monitoring" src="{% get_media_prefix %}cal-agc002.png" id="agc002"></a></div>
    </row>
    <script>
        function autoReloadImage( id, timeout )
        {
            var img = document.getElementById(id);
            timeout *= 1000;
            setTimeout(function()
            {
                reloadImage( img, img.src, timeout )
            }, timeout);
        }
        function reloadImage( img, src, timeout )
        {
            img.src = src + "?" + new Date().getTime();
            setTimeout(function()
            {
                reloadImage( img, src, timeout )
            }, timeout);
        }

        autoReloadImage("image", 2);
        autoReloadImage("corr", 2);
        autoReloadImage("diff", 2);
        autoReloadImage("chan", 2);
        autoReloadImage("lag", 2);


    </script>
{% endblock %}
